body{
    background-color: rgb(189, 255, 203);
    align-content: center;
    font-display: flex;

}

input{
    border-color: rgb(0, 0, 0);
}

h1{
    border-color: rgb(0, 0, 0);
    text-align: center;

}
.container{
    text-align: center;
    font-size: 25px;

}